.App {
  text-align: center;
}

.App-header {
  background-color: #EC5578;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #ffea05;
  border: none;
  color: black;
  padding: 5% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 75%;
  margin: .25% .25%;
}

.button1 {
  border-radius: 50px;
  float: left;
}

.button2 {
  border-radius: 50px;
  float: right;
}

#div1 {
  height: 50%;
  width: 40%;
  padding: 1% ;
}
